.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusContainer {
  display: flex;
  padding: 8px;
  justify-content: center;
  gap: 64px;
  border-radius: 2px;
  border: 2px solid var(--system-white);
}
