.infoContainer {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  border: 4px solid;
}

.infoText {
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 24px;
}
