.dailyMailContainer {
  display: flex;
  height: calc(100vh - 200px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instructionContainer {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.instructionText {
  color: var(--system-white);
  font-family: "ADLaM Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
