.enterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  margin: 32px 0;
}

.deckContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.playerDeck {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  padding: 16px;
  gap: 32px;
  border: 4px solid var(--crew-joint);
  background: var(--crew-joint-fill);
}

.headerText {
  color: var(--system-white);
  font-family: Orbit;
  font-size: 32px;
  text-transform: uppercase;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.textContainer {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.enterText {
  color: var(--system-white);
  font-family: Orbit;
  font-size: 36px;
  text-align: start;
}
