.cardContainer {
  display: flex;
  width: 600px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  border: 4px solid var(--card-challenge);
  background: var(--system-black);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.cardType {
  color: var(--card-challenge);
  font-family: Orbit;
  font-size: 20px;
  text-align: start;
}

.challengeType {
  display: flex;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 8px;
  background: var(--card-challenge, #0592a4);
}

.divider {
  color: var(--card-challenge);
  width: 100%;
  border: 1px solid;
}

.cardText {
  color: var(--system-white);
  font-family: Orbit;
  font-size: 16px;
  text-align: start;
}
