.cardContainer {
  display: flex;
  width: 300px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  border: 4px solid var(--card-event);
  background: var(--system-black);
}

.cardType {
  color: var(--card-event);
  font-family: Orbit;
  font-size: 20px;
  text-align: start;
}

.cardTitle {
  color: var(--system-white);
  font-family: Orbit;
  font-size: 32px;
  text-align: start;
}

.divider {
  color: var(--card-event);
  width: 100%;
  border: 1px solid;
}

.cardText {
  color: var(--system-white);
  font-family: Orbit;
  font-size: 16px;
  text-align: start;
}
