.deckContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.tribeDeck {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  border: 4px solid var(--tribe-purple);
  background: #3d0957;
  width: 100%;
}

.tribeDeck2 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 4px;
  border: 4px solid var(--tribe-yellow);
  background: #8d840e;
  width: 100%;
}

.deckHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.headerText {
  color: var(--system-white, #fff);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
}

.playersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.castawaysContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.instructionContainer {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.instructionText {
  color: var(--system-white);
  font-family: "ADLaM Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
