.enterGameContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 280px);
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  /* gap: 80px; */
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  margin: 32px 0;
}

.roomCodeContainer {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px dashed var(--system-white);
}

.roomCodeText {
  color: var(--system-white);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.bodyContent {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  gap: 32px;
}

.playersContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  border-radius: 8px;
  background: var(--system-teal);
  padding: 8px;
  width: fit-content;
  max-width: 728px;
}

.playersText {
  color: var(--system-black);
  font-family: Impact;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px;
}

.playerTileContainer {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.castawayCard {
  width: 140px;
}

.enterGameTextContainer {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 480px;
  height: auto;
}

.enterGameText {
  color: var(--system-white);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin: 0;
}
