.tribeDivisionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
  height: calc(100vh - 32px);
}

.playersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: var(--system-teal);
  /* width: fit-content; */
}

.playersText {
  color: var(--system-black);
  font-family: Impact;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px;
}

.playerTileContainer {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}

.instructionContainer {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.tribeText {
  align-self: stretch;
  color: var(--system-white);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
