.instructionContainer {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.text {
  color: var(--system-white);
  font-family: "ADLaM Display";
  font-size: 36px;
  font-weight: 400;
}
