.cardContainer {
  display: flex;
  width: 148px;
  height: 260px;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--system-black);
  background: var(--system-tan);
}

.cardHeader {
  display: flex;
  padding-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--system-black);
  height: 49px;
}

.headerText {
  color: var(--system-black, #191919);
  font-family: "ADLaM Display";
  font-size: 16px;
  text-align: left;
}

.healthContainer {
  display: flex;
  padding: 4px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--system-red);
  background: var(--system-white);
}

.healthText {
  color: var(--system-red);
  font-family: "ADLaM Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}

.attributeContainer {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--system-black);
}

.attributeText {
  color: var(--system-black);
  font-family: "ADLaM Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.attributeContainerBig {
  display: flex;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--system-black);
}
