.playerNameCard {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--system-black);
}

.playerNameText {
  color: var(--system-black);
  text-align: center;
  font-family: Impact;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
