.playerCard {
  display: flex;
  width: 140px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--system-black);
}

.playerName {
  color: var(--system-black);
  text-align: center;
  font-family: Impact;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
