:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Player Variables */
  --player-green: #00ff40;
  --player-orange: #ff8000;
  --player-blue: #00ccff;
  --player-purple: #8400ff;
  --player-red: #ff0000;
  --player-yellow: #fff200;
  --player-pink: #ff00e5;
  --player-grey: #868686;

  /* Card Variables */
  --card-event: #ff00ea;
  --card-twist: #b44b4b;
  --card-challenge: #0592a4;

  /* Contestant Variables */
  --contestant-orange: #ff7300;
  --contestant-purple: #9b5afc;
  --contestant-green: #95ff00;

  /* Crew Variables */
  --crew-purple: #b158fa;
  --crew-purple-fill: #3d0957;
  --crew-yellow: #ffee00;
  --crew-yellow-fill: #585100;
  --crew-joint: #446df4;
  --crew-joint-fill: #1f2c54;
  --crew-assembly: #ff6e00;
  --crew-assembly-fill: #502300;

  /* System Variables */
  --system-red: #c00101;
  --system-green: #018021;
  --system-black: #191919;
  --system-grey: #8a8a8b;
  --system-white: #ffffff;
}

* {
  box-sizing: border-box;
}

p,
li,
h1,
h2,
h3 {
  font-family: orbit, sans-serif;
  margin: 0;
}
