.menuContainer {
  display: flex;
  height: 58px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--system-black);
}

.playerName {
  color: var(--system-black);
  text-align: center;
  font-family: Orbit;
  font-size: 16px;
}

.button {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--system-black);
  background: transparent;
  color: var(--system-black);
  text-align: center;
  font-family: Orbit;
  font-size: 12px;
}
