.cardContainer {
  display: flex;
  width: 140px;
  height: 240px;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--system-tan);
  background: var(--system-tan);
  gap: 4px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 12px;
}

.headerText {
  color: var(--system-black);
  text-align: left;
  font-family: Impact;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.healthContainer {
  display: flex;
  padding: 2px 4px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--system-red);
  background: var(--system-black);
}

.healthText {
  color: var(--system-white, #fff);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--system-black, #191919);
  font-family: Impact;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.attributeContainer {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
}

.attributeText {
  color: var(--system-black);
  font-family: Impact;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.attributeContainerBig {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
}
